@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    background: #35187f;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 7%;
    position: fixed;
    top:0; 
    left: 0; 
    right: 0;
    background: #fff;
    z-index: 1000;
}

.header .navbar a{
    font-size: 1rem;
    color: #35187f;
    padding: 6px 15px;
}

.header .navbar a:hover{
    color: purple;
    padding-bottom: .5rem;
}

.first_section{
    background-color: #35187f;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

#title_one{
    color: #35187f;
    font-size: 40px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #FFF;
    margin-top: 9.5rem;
    padding: 20px;
    width: 34%;
    text-align: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.main-grid-question{
    background-color: #fff;
    padding: 20px;
    color: #35187f;
    font-size: 20px;
    margin-bottom: 90px;
}

.second_navbar{
    background-color: #fff;
    padding: 9rem;
    background-image: url(../img/purplelogo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-grid{
    background: #fff;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    border: 1px solid #35187f;
}

button{
    padding: 10px 65px;
    margin: 10px;
    cursor: pointer;
    background: #35187f;
    color: #fff;
}

button:hover{
    background-color: #271063;
    color: #fff;  
}

footer{
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer .social_icon, footer .menu2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu2 li{
    list-style: none;

}

footer .social_icon li a{
    font-size: 2em;
    color: #35187f;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu2 li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer.menu2 li a:hover{
    opacity: 1;
}

footer p{
    color: #35187f;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    }